@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;0,800;0,900;1,500&display=swap');

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: 'Raleway', sans-serif;
}
img{
    width: 100%;
}
:root{
    --white: #fff;
    --black: #000;
    --light-white: #F3F3F3;
    --light-blue: #45C8FB;
    --deep-blue: #6189F6;
}

/* Navigation */
nav{
    width: 100%;
    padding: 20px 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--light-white);
}
.nav_left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.nav_left a .logo{
    width: 90px;
}
.nav_items{
    margin-left: 18px;
}
.nav_items li{
    display: inline-block;
    margin-right: 20px;

}
.nav_items li a,.nav_right a{
    color: var(--black);
    font-size: 13px;
    font-weight: 600;
}
/* Banner section */
.banner{
    width: 100%;
    height: calc(100vh - 70px);
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url('../assets/images/bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.content_items{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content_box h5,.content_box h1{
    color: var(--white);
    text-align: center;
}
.content_box h1{
    font-size: 4.8rem;
    -webkit-text-stroke: 1px var(--white);
    color: transparent;
}
/* LOGIN */
.login_container{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_container form{
    width: 400px;
    height: 350px;
    background: var(--light-white);
    overflow: hidden;
    border-radius: 5px;
}
.login_title{
    width: 100%;
    height: 98px;
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.5)), url('../assets/images/bg_3.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_title h1{
    text-align: center;
    color: var(--white);
    font-size: 1.2rem;
}
.input_items, .login_btn{
    padding:8px 15px;
}
.label{
    margin-bottom: 5px;
}
.label label{
    font-size: 12px;
    font-weight: 600;
}
.input_field{
    position: relative;
}
.input_field .eyeOpen{
    position: absolute;
    right: 15px;
    top: 8px;
    cursor: pointer;
}
.input_field input,.login_btn button{
    width: 100%;
    padding: 9px 8px;
    border: none;
}
.login_btn button{
    background: var(--light-blue);
    color: var(--light-white);
    font-weight: 600;
}
.sign_up_msg{
    padding-top: 8px;

}
.sign_up_msg p{
    font-size: 12px;
}
.sign_up_msg span a{
    font-weight: 600;
    font-size: 12px;
}

/* Dashboard */
.dash_left .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid var(--black);
    padding-bottom: 5px;
}
.dash_left .logo img{
    width: 80px;
}
.menu_item{
    padding: 2px;
    margin-top: 2px;
    cursor: pointer;
}
.menu_item li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8px;
    margin-top: 8px;
}
.menu_item .dash_title{
    font-size: 10px;
    font-weight: 600;
}
.dash_title a{
    color: var(--deep-blue);
}
.dashboard_container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
.dash_left{
    width: 110px;
    max-width: 100%;
    height: 100%;
    background: var(--white);
    padding: 0px 8px;
}
.dash_right{
    width: calc(100% - 100px);
    height: 100%;
    background: var(--light-white);
}
.dash_nav{
    width: 100%;
    height: 60px;
    background: var(--white);
}

.search input{
    padding: 9px 10px;
    border-radius: 30px;
    border: none;
    background: var(--light-white);
    font-size: 10px;
}
.search input::placeholder{
    font-size: 10px;
    font-weight: 600;
}
.search button{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background: var(--deep-blue);
    color: var(--white);
    cursor: pointer;
}
.dash_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 2%;
}
.user{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    cursor: pointer;
}
.profile{
    display: flex;
    align-items: center;
    gap: 20px;
}
.profile span{
    font-size: 12px;
    font-weight: 600;
}
.profile p{
    font-size: 10px;
}
.dash_items{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 10px;
  padding:  2%;
}
.dash_item{
    width: 250px;
    height: 75px;
    background: var(--white);
    border-radius: 3px;
    cursor: pointer;
}
.dash_item{
    padding: 9px;


}
.dash_item h5{
    font-size: 9px;
    font-weight: 700;
}
.dash_item h4{
    text-align: center;
    font-size: 30px;
}
.employee{
    color: #ED1E71;
}
.meeting{
    color: #2581BC;
}
.attend{
    color: #E77E22;
}
.leave{
    color: #41B7AF;
}
.dash_graph_container{
    padding:  2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
}
.graph_left{
    width: 60%;
    height: 250px;
    background: var(--white);
    padding: 10px;
    border-radius: 3px;
}
.graph_right{
    width: 40%;
    height: 250px;
    background: var(--white);
    border-radius: 3px;
}